/* Global styles */

body {
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7;
  }
  
  footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7;
  }
  

  
  /* Navigation */
  
  .navbar {
    background-color: #343a40;
    border-radius: 0;
  }
  
  .navbar-brand {
    color: #000000;
    font-weight: bold;
  }
  
  .nav-link {
    color: #000000;
  }
  
  .nav-link:hover {
    color: #000000;
  }
  

  /* hero image */

  .hero-image {
	background-image: url('../images/butterfly-hero.jpg');
	background-size: cover;
	background-position: center;
	height: 400px;
  }

  /* Footer */
  
  footer {
    padding: 50px 0;
    color: #777;
  }
  
  footer h4 {
    margin-bottom: 1em;
  }
  
  footer ul li {
    margin-bottom: 0.5em;
  }
  
  @media (min-width: 768px) {
    footer ul {
      margin-left: 0;
      padding-left: 0;
      list-style: none;
    }
    
    footer ul li {
      display: inline-block;
      margin-right: 1em;
    }
  }
  